@font-face{
  font-family: 'TestFoundersGrotesk-Regular';
  src: url('../fonts/TestFoundersGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/TestFoundersGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Hanson-Bold';
  src: url('../fonts/Hanson-Bold.woff2') format('woff2'),
       url('../fonts/Hanson-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


